.mbtiLayout {
  width: 100vw;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #eee;
  height: calc(var(--vh, vh) * 100);
}

.startPageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 100%;
  max-width: 900px;
  height: 100%;
  color: #413730;
}

.startLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}
.startLogo div:nth-child(1) {
  background-color: #413730;
  color: yellow;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.startLogo div:nth-child(2) {
  margin-top: -15px;
}

.startButton {
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
}
